{% extends 'base.html' %}

{% block content %}
<div class="course-info col-md-8">
	<h1>{{ course.name }}</h1>
	<p class="lead">
	  <strong>Categoria</strong>: {{ course.category.name }}<br>
	  <strong>Objetivos</strong>: {{ course.Objetivos }}<br>
	  <strong>Programa</strong>: {{ course.programa }}<br>

	  <strong>Início do cursos</strong>: {{ course.start_date|date:"d/m/Y"|default:"Não definida" }}<br>
	  <strong>Fim do curso</strong>: {{ course.end_date|date:"d/m/Y"|default:"Não definida" }}<br>
	  
	</p>
	{% include "courses/list_module.html" %}

</div>

<!--<div class="col-md-4">
	<img src="course.image.url}}" class="img-rounded">
</div>-->
{{ course.description|linebreaks }}
{% endblock %}